*{
	margin: 0%;
	padding: 0%;
}
body{
	background-color: white;
}

.frame{
	display: flex;
	flex-direction: column;
}

/* navigator */

.navigator{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: white;
	margin-bottom: 10px;
	
}

li{
	display: inline;
	margin: 0;
	margin-left: 15px;
}

ul{
	margin: auto;
	margin-right: 100px;
}

.site-name{
	padding-left: 40px;
	margin: auto;
	margin-left: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
	color: black;
	
}

.nav-menu{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	padding-left: 20px;
}

a{
	font-size: 40px;
	font-weight: bold;
	color: #5b507a;
	text-decoration: none;
}

a:hover{
	color: white;
	transition: 0.3;
}
/* navigator end */

.img_3{
	width:auto;
	height: 400px;
}


.text_1{
    font-weight: bold;
    padding-top: 30px ;
    font-family: 'Montserrat',sans-serif;
    font-size: 40px;
    color: black;
    text-align: center;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #b9e28c;
    margin-bottom: 50px;
}

.root_daum_roughmap { margin: auto !important; }

